body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navigation-wrapper {
    height: 15vmin;
    background-color: #11122b;
    color: #cbcbcb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vmin 10vmin;
}

.left-column {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 3vmin;
}

.icon i {
    font-size: 2em;
}

/* Arrow tells css to look for the left-column and find the child class */

.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vmin;
}

.contact-hours-wrapper > .phone {
    font-family: 'Ubuntu Condensed', sans-serif;
}